@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One|Source+Sans+Pro:300,700,300italic|Source+Code+Pro);

/*

sans: "Source Sans Pro", Arial, Helvetica, sans-serif;
serif: "Alfa Slab One", Georgia, "Times New Roman", Times, serif;
fixed: "Source Code Pro", "Courier New", fixed;

base: #000;
bold: #444;
white: #fff
link: #36c;
alert: #d22;

*/

body {background:url(bg.jpg); font-family:"Source Sans Pro", Arial, Helvetica, sans-serif; font-weight:300; font-size:16px; line-height:1.2; color:#000;}
strong {font-weight:700;}
h1 {font-family:"Alfa Slab One", Georgia, "Times New Roman", Times, serif; font-weight:400; font-size:3em; text-shadow:0 0 3px rgba(0,0,0,0.4); color:#fff;}
pre,
code {font-family:"Source Code Pro", "Courier New", fixed; font-weight:400; border-bottom:1px solid rgba(0,0,0,0.1); background:rgba(255,255,255,0.2); padding:3px; margin:0 2px;}
h1,
h2,
ol,
ul,
dl,
pre,
nav,
table,
form,
p {padding:0 0 1em; max-width:1000px; margin:0 auto;}
dl {line-height:2;}
dt {float:left; padding-right:1em; text-align:right; width:8em;}

#top {position:fixed; right:10px; top:10px; display:none;}
#top a {font-family:"Alfa Slab One", Georgia, "Times New Roman", Times, serif; font-weight:400; font-size:1em; text-shadow:0 0 3px rgba(0,0,0,0.4); color:#fff;
	display:block; text-align:right; text-decoration:none; padding:0.2em 0.4em; float:right; clear:right;}
#top a.html:hover {color:#36c; background:#fff;}
#top a.css:hover {color:#d22; background:#fff;}
@media screen and (max-width:1000px) {
	#top {display:none;}
}

fieldset {margin:0.4em 0; padding:1em; border-color:rgba(0,0,0,0.1);}
legend {font-size:0.8em; color:rgba(0,0,0,0.4); text-transform:uppercase;}
input[type="submit"] {padding:0.2em 0.6em; margin:1em;}

section {margin:0; padding:2em 0 0;}
section section {margin:0; padding:1em 0; background:rgba(255,255,255,0.8); border-top:1px solid #000; box-shadow:0 0 6px 3px rgba(0,0,0,0.4);}
section h1,
section h2,
section nav li {padding:0 16px;}
section hr {margin:2em auto; height:1px; border:0; border-bottom:1px solid rgba(0,0,0,0.1); background:transparent;}
section nav {list-style-type:square; list-style-position:inside; padding:0 0 1em; color:#fff;}
section nav li {font-size:1.4em;}
section nav li:hover {background:rgba(255,255,255,0.7); color:#000;}
section nav a {color:#fff; text-decoration:none; font-weight:700; display:inline-block; padding:0.4em 0;}
section nav li:hover a,
section nav a:hover {color:#000;}

#html,
#bonus {background:transparent;}
#css {background:url(bgr.jpg);}

article {padding:1em 0;}
article h1 {font-size:1.6em; padding:0 16px 1em;}
article h2 {padding:1em 16px; font-size:1.2em; color:#444; clear:left;}
article a {color:#36c; font-weight:700; text-decoration:underline;}
article a:hover {color:#000;}
article p {padding:0 16px 1em; line-height:1.4;}
.ref {color:#fff; background:rgba(0,0,0,0.8); padding:1em 16px; margin-top:0.4em;}
.ref a {color:#fff;}
.ref a:hover {color:#36c;}
article pre {padding:1em 16px 0; margin-bottom:1em;}
article pre span {color:#d22;}
article pre span span {color:#36c;}
article ol,
article ul {list-style-position:inside; list-style-type:square; padding-left:1em;}
article li {padding-bottom:0.4em;}

article table {min-width:20em;}
article th {background:rgba(0,0,0,0.8); color:#fff; padding:0.3em 1em; text-align:left; border:1px solid #000;}
article td {color:#000; padding:0.3em 1em; border:1px solid #000;}

article fieldset {width:50%;}
article label {float:left; clear:left; width:7em; line-height:2em;}
article input,
article select,
article textarea {float:left; width:13em; line-height:1.2em; padding:0.2em 0.4em; margin:0.2em 0; border:1px solid #ddd;}
article textarea {height:6em; width:18em;}
article input:focus {border-color:#d22;}
article .terms label {width:17em;}
article .terms div {float:left; padding-left:1em;}
article .terms div label {clear:none; width:auto;}
article .terms div input {clear:left; width:auto; margin-top:0.6em; margin-right:0.4em;}
article input[type="submit"] {float:none; width:auto; background:#36c; color:#fff; font-weight:700; padding:0.4em 1em;}

#css article a {color:#d22;}
#css article a:hover {color:#000;}
#css .ref a {color:#fff;}
#css .ref a:hover {color:#d22;}
#css article pre span {color:#36c;}

.trans-example {width:100px; height:100px; background:#d22; margin:0 auto 1em; padding:1em; color:#fff;
	-webkit-transition:0.5s linear background; -moz-transition:0.5s linear background; -ms-transition:0.5s linear background; transition:0.5s linear background;}
.trans-example:hover {background:#36c;
	-webkit-transition:0.5s linear background; -moz-transition:0.5s linear background; -ms-transition:0.5s linear background; transition:0.5s linear background;}

.trans-example-2 {width:100px; height:100px; background:#d22; margin:0 auto 1em; padding:1em; color:#fff;
	-webkit-transform:rotate(15deg) translate(6px, 6px); -moz-transform:rotate(15deg) translate(6px, 6px); -ms-transform:rotate(15deg) translate(6px, 6px); transform:rotate(15deg) translate(6px, 6px);}
.trans-example-2:hover {background:#36c;
	-webkit-transform:rotate(-15deg) translate(-6px, -6px); -moz-transform:rotate(-15deg) translate(-6px, -6px); -ms-transform:rotate(-15deg) translate(-6px, -6px); transform:rotate(-15deg) translate(-6px, -6px);}

.trans-example-3 {width:100px; height:100px; background:#d22; margin:0 auto 1em; padding:1em; color:#fff;
	-webkit-transform:rotate(15deg) translate(6px, 6px); -moz-transform:rotate(15deg) translate(6px, 6px); -ms-transform:rotate(15deg) translate(6px, 6px); transform:rotate(15deg) translate(6px, 6px);
	-webkit-transition:0.5s linear all; -moz-transition:0.5s linear all; -ms-transition:0.5s linear all; transition:0.5s linear all;}
.trans-example-3:hover {background:#36c;
	-webkit-transform:rotate(-15deg) translate(-6px, -6px); -moz-transform:rotate(-15deg) translate(-6px, -6px); -ms-transform:rotate(-15deg) translate(-6px, -6px); transform:rotate(-15deg) translate(-6px, -6px);
	-webkit-transition:0.5s linear all; -moz-transition:0.5s linear all; -ms-transition:0.5s linear all; transition:0.5s linear all;}
