pre,
code {border-bottom:1px solid rgb(50,50,50); background:#fff;}
section section {background:rgb(210,223,237);}
article h1 {color:#333;}
article th,
.ref {background:#333;}

#css {background:transparent;}
#css section {background:rgb(226,212,212);}