pre,
code {border-bottom:1px solid rgb(50,50,50); background:rgb(220,220,220);}
section section {background:rgb(255,255,255);}
article h1 {color:#333;}
article th,
.ref {background:#333;}

#css {background:transparent;}